.metabox{
    position:relative;
    min-width: 255px;
    margin-top:20px;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    background: #fff;
}
.metabox h3 {
    font-size:14px;
    padding:8px 0;
    margin:0;
    line-height:1.4;
    border-bottom:1px solid #eee;
}
.metabox h4 {
    margin: 5px 0;
}
.metabox .inside {
    line-height:1.4em;
    font-size:13px;
    margin:0;
    padding:0 20px;
}
