.metabox{
    position:relative;
    min-width: 255px;
    margin-top:20px;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    background: #fff;
}
.metabox h3 {
    font-size:14px;
    padding:8px 0;
    margin:0;
    line-height:1.4;
    border-bottom:1px solid #eee;
}
.metabox h4 {
    margin: 5px 0;
}
.metabox .inside {
    line-height:1.4em;
    font-size:13px;
    margin:0;
    padding:0 20px;
}
input[name="compendium-title"] {
    width:300px;
}

svg {
    position: relative;
    top: 50%;
    width: 80%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.resource__icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 2.5rem;
    height: 2.5rem;
}
.resource__icon .line {
    stroke:#4c4c4c;
    stroke-width:3;
}
